.cabeçalho {
    background-color: #07C4D9;
    margin-top: 30px;
    }

.cabeçalho-título {
    color: #F26457;
}
ul {
    
    display: flex;
    padding: 30px;
}
.cabeçalho-lista {
    color: white;
}

.cabeçalho-imagem{
    width: 10%;
}

.Secao1{
    background-image:linear-gradient(#07C4D9,#7a241c);
    color: white;
}